@import se.lu.nateko.cp.cpauth.core.PublicAuthConfig
@import views.html.CpCommonPage
@import se.lu.nateko.cp.cpauth.core.UserId

@(uid: Option[UserId], config: PublicAuthConfig, jsFastOpt: Boolean = false)
@CpCommonPage("Carbon Portal's file drop service", cpauthHostOpt = Some(config.cpauthHost)){
}{
	<div class = "page-header">
		<h1>Carbon Portal file drop service</h1>
	</div>

	<div class="panel panel-info">
		<div class="panel-body">
			<p>ABOUT</p>
		</div>
	</div>

	<div id="main">
	</div>
	<script src="filedrop-js-@{if(jsFastOpt) "fast" else ""}opt.js"></script>
}

